useDynLib(mpath)

export(glmreg, glmregNB, zipath, llfun, predictzeroinfl1, cv.folds, cv.glmreg, cv.glmreg_fit, cv.glmregNB, cv.zipath, tuning.zipath, pval.zipath, conv2glmreg, conv2zipath, estfunReg, sandwichReg, breadReg, meatReg, hessianReg, se, be.zeroinfl, rzi, ncl, nclreg, ncl_fit, nclreg_fit, cv.nclreg, cv.nclreg_fit, stan, zipath_fit)
exportClasses("zipath")
exportMethods("show")

import("methods")
import("stats")
importFrom("MASS", "theta.ml")
importFrom("MASS", "glm.nb")
importFrom("MASS", "rnegbin")
importFrom("MASS", "negative.binomial")
importFrom("pscl", "zeroinfl")
importFrom("pscl", "predprob")
importFrom("numDeriv", "hessian")
importFrom("graphics", "plot", "segments")
importFrom("graphics", "axis", "matplot", "text")
importFrom("utils", "capture.output")
importFrom("foreach", "foreach")
importFrom("foreach", "%dopar%")
importFrom("doParallel", "registerDoParallel")
importFrom("doParallel", "stopImplicitCluster")
importFrom("bst", "loss")
importFrom("bst", "bfunc")
importFrom("bst", "gradient")
importFrom("bst", "bst_control")
importFrom("bst", "bst")
importFrom("bst", "evalerr")

S3method(glmreg, formula)
S3method(glmreg, matrix)
S3method(glmreg, default)
S3method(coef, glmreg)
S3method(deviance, glmreg)
S3method(plot, glmreg)
S3method(predict, glmreg)
S3method(logLik, glmreg)
S3method(AIC, glmreg)
S3method(BIC, glmreg)
S3method(predprob, glmreg)
S3method(cv.glmreg, formula)
S3method(cv.glmreg, matrix)
S3method(cv.glmreg, default)
S3method(plot, cv.glmreg)
S3method(predict, cv.glmreg)
S3method(coef, cv.glmreg)
S3method(summary, glmregNB)
S3method(print, summary.glmregNB)

S3method(zipath, formula)
S3method(zipath, matrix)
S3method(zipath, default)
S3method(coef, zipath)
S3method(plot, zipath)
S3method(predict, zipath)
S3method(summary, zipath)
S3method("residuals", "zipath")
S3method("fitted", "zipath")
S3method(logLik, zipath)
S3method(AIC, zipath)
S3method(BIC, zipath)
S3method(estfunReg, zipath)
S3method(hessianReg, zipath)
S3method(breadReg, zipath)
S3method(meatReg, zipath)
S3method(se, zipath)
S3method(predprob, zipath)
S3method(cv.zipath, formula)
S3method(cv.zipath, matrix)
S3method(cv.zipath, default)
S3method(predict, cv.zipath)
S3method(coef, cv.zipath)
S3method(plot, cv.zipath)
S3method(print, summary.zipath)

S3method(ncl, formula)
S3method(ncl, matrix)
S3method(ncl, default)
S3method(predict, ncl)
S3method(nclreg, formula)
S3method(nclreg, matrix)
S3method(nclreg, default)
S3method(predict, nclreg)
S3method(coef, nclreg)
S3method(cv.nclreg, formula)
S3method(cv.nclreg, matrix)
S3method(cv.nclreg, default)
S3method(plot, cv.nclreg)
S3method(coef, cv.nclreg)

